<h3>Add a new sword to {{name}} lot:</h3>

<form>
  <label for="sword">Sword Name</label>
  {{input value=swordName id="swordName" class="form-control"}}
  <button class="btn btn-success" {{action "save"}}>Add sword to lot</button>
</form>
