<div class="container">
<div class="jumbotron center">
  <h1>Sword Masters Auction</h1>
  <img class="img-responsive" src="css/images/title.jpg" alt="sword">
  <h2><em>Slice</em> the Price</h2>
</div>
  {{outlet}}
</div>
