<h3>Info for {{name}} lot:</h3>

<div class="col-xs-6">

  <h4>Here are the swords in the {{name}} lot:</h4>

  <ul>
  {{#each sword in swords}}
    <li>{{sword.name}}</li>
  {{/each}}
  </ul>

  {{#link-to 'add-sword' classNames="btn btn-warning"}}Add a new sword{{/link-to}}

  {{outlet}}

</div>
